django>=3.2,<5
djangorestframework
djangorestframework-simplejwt
numpy==1.23.5
spacy>=3.5,<4
nltk
geopy
pytz
psycopg2-binary
dj-database-url
whitenoise[brotli]
gunicorn
django-cors-headers
Pillow
setuptools==65.5.1
wheel
